services:
  _defaults:
    public: false
    autowire: true
    bind:
      OxidEsales\Eshop\Core\UtilsObject: '@=service("OxidEsales\\MediaLibrary\\Core\\Registry").getUtilsObject()'

  OxidEsales\MediaLibrary\Service\Media:
    class: OxidEsales\MediaLibrary\Service\Media
    public: true

  OxidEsales\MediaLibrary\Service\ModuleSettings:
    class: OxidEsales\MediaLibrary\Service\ModuleSettings
    public: true

  OxidEsales\MediaLibrary\Service\NamingServiceInterface:
    class: OxidEsales\MediaLibrary\Service\NamingService
    public: true