services:
  _defaults:
    public: false
    autowire: true

  OxidEsales\MediaLibrary\Service\FileSystemServiceInterface:
    class: OxidEsales\MediaLibrary\Service\FileSystemService
    public: true

  OxidEsales\MediaLibrary\Service\FolderServiceInterface:
    class: OxidEsales\MediaLibrary\Service\FolderService
    public: true

  OxidEsales\MediaLibrary\Service\ModuleSettingsInterface:
    class: OxidEsales\MediaLibrary\Service\ModuleSettings
    public: true

  OxidEsales\MediaLibrary\Service\NamingServiceInterface:
    class: OxidEsales\MediaLibrary\Service\NamingService
    public: true