imports:
  - { resource: src/Image/Service/services.yaml }
  - { resource: src/Transition/Core/services.yaml }

services:

  _defaults:
    public: false
    autowire: true
    bind:
      OxidEsales\Eshop\Core\UtilsObject: '@=service("OxidEsales\\MediaLibrary\\Core\\Registry").getUtilsObject()'

  OxidEsales\MediaLibrary\Core\Registry:
    class: 'OxidEsales\Eshop\Core\Registry'
    public: true

  OxidEsales\MediaLibrary\Service\Media:
    class: OxidEsales\MediaLibrary\Service\Media
    public: true

  OxidEsales\MediaLibrary\Service\ModuleSettings:
    class: OxidEsales\MediaLibrary\Service\ModuleSettings
    public: true