services:
  _defaults:
    autowire: true
    public: false

  Intervention\Image\ImageManager:
    class: Intervention\Image\ImageManager
    arguments:
      $driver: 'Intervention\Image\Drivers\Gd\Driver'

  OxidEsales\MediaLibrary\Image\Service\ThumbnailGeneratorAggregateInterface:
    class: OxidEsales\MediaLibrary\Image\Service\ThumbnailGeneratorAggregate
    public: true
    arguments:
      $thumbnailGenerators:
        - '@OxidEsales\MediaLibrary\Image\Service\ThumbnailGeneratorIntervention'

  OxidEsales\MediaLibrary\Image\Service\ThumbnailGeneratorIntervention:
    class: OxidEsales\MediaLibrary\Image\Service\ThumbnailGeneratorIntervention

  OxidEsales\MediaLibrary\Image\Service\ThumbnailResourceInterface:
    class: OxidEsales\MediaLibrary\Image\Service\ThumbnailResource
    public: true

  OxidEsales\MediaLibrary\Image\Service\ThumbnailServiceInterface:
    class: OxidEsales\MediaLibrary\Image\Service\ThumbnailService
    public: true