services:
  _defaults:
    autowire: true
    public: false
    bind:
      OxidEsales\Eshop\Core\Config: '@=service("OxidEsales\\MediaLibrary\\Core\\Registry").getConfig()'

  Intervention\Image\ImageManager:
    class: Intervention\Image\ImageManager
    arguments:
      $driver: 'Intervention\Image\Drivers\Gd\Driver'

  OxidEsales\MediaLibrary\Image\Service\ThumbnailGeneratorInterface:
    class: OxidEsales\MediaLibrary\Image\Service\ThumbnailGeneratorIntervention
    public: true

  OxidEsales\MediaLibrary\Image\Service\ImageResourceInterface:
    class: OxidEsales\MediaLibrary\Image\Service\ImageResource
    public: true

  OxidEsales\MediaLibrary\Image\Service\ImageResourceRefactoredInterface:
    class: OxidEsales\MediaLibrary\Image\Service\ImageResourceRefactored
    public: true

  OxidEsales\MediaLibrary\Image\Service\ThumbnailResourceInterface:
    class: OxidEsales\MediaLibrary\Image\Service\ThumbnailResource
    public: true

  OxidEsales\MediaLibrary\Image\Service\ThumbnailServiceInterface:
    class: OxidEsales\MediaLibrary\Image\Service\ThumbnailService
    public: true