/**
 * Copyright © OXID eSales AG. All rights reserved.
 * See LICENSE file for license details.
 */

@import 'custom-variables';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

$custom-colors: (
    "custom-color": $primary
);
$theme-colors: map-merge($theme-colors, $custom-colors);

@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/type';

:root {
    --bs-border-radius: 0;
    --bs-border-radius-sm: 0;
    --bs-border-radius-lg: 0;
    --bs-border-radius-xl: 0;
    --bs-border-radius-xxl: 0;
    --bs-border-radius-2xl: 0;
}

.btn {
    --bs-btn-disabled-border-color: transparent;
}

.btn-primary {
    --bs-btn-bg: #{$dd-primary-btn};
    --bs-btn-border-color: #{$dd-primary-btn-border};
}

.btn-outline-primary {
    --bs-btn-color: #{$dd-primary-btn};
    --bs-btn-border-color: #{$dd-primary-btn};
    --bs-btn-hover-bg: #{$dd-primary-btn};
    --bs-btn-hover-border-color: #{$dd-primary-btn};
    --bs-btn-disabled-border-color: lightness(#{$dd-primary-btn});
    --bs-btn-disabled-color: lightness(#{$dd-primary-btn});
}

.btn-success, .btn-info {
    --bs-btn-color: #fff;
    --bs-btn-hover-color: #fff;
}

.dd-media-list {
    .btn {
        --bs-btn-font-size: 0.8rem;
    }
}

@import 'font-awesome/scss/variables';
@import 'font-awesome/scss/mixins';

$items-gutter-width: 12px;

.dd-dialog-loader {
    width: 100%;
    height: 200px;
    background: transparent url('../img/loading.svg') center center no-repeat;
    background-size: 100px 100px;
}

.dd-navbar {
    .navbar-brand, .dd-admin-popout-action {
        color: var(--bs-light-text-emphasis);
    }
}

.dd-media {
    height: 100%;

    .dd-media-header-info {
        padding: 10px 15px;
        font-size: 0.8em;
        line-height: 1.8;
        color: $text-muted;
    }

    .dd-media-search-form {
        padding: 1px 12px 0px 0;
    }

    .dd-media-list {
        position: relative;
        width: 100%;
        height: 100%;
        clear: both;
        float: left;
        overflow: hidden;
    }

    .dd-media-list-toolbar {
        width: percentage(8 / $grid-columns); // ~ 8 Columns width
        position: absolute;
        top: 0;
        left: 0;
        height: 52px;
        border-bottom: 1px solid #eee;
        padding: 9px 15px;
    }

    .dd-media-list-breadcrumb, .dd-media-upload-breadcrumb {
        width: percentage(8 / $grid-columns); // ~ 8 Columns width
        position: absolute;
        top: 52px;
        left: 0;
        font-size: 75%;
        height: 31px;
        border-bottom: 1px solid #eee;
        overflow: hidden;
        background-color: rgba(var(--bs-tertiary-bg-rgb),1);
        padding-left: 12px;
        padding-right: 12px;

        .breadcrumb {
            margin: 0;
        }

        .dd-media-list-folder-up {
            > .btn {
                font-size: inherit;
            }
        }

        &.dd-media-upload-breadcrumb {
            width: 100%;
            position: relative;
            top: 0;
        }
    }

    .dd-media-list-items {
        width: percentage(8 / $grid-columns); // ~ 8 Columns width
        position: absolute;
        top: 83px;
        left: 0;
        bottom: 0;
        padding: $items-gutter-width;
        overflow: auto;
        margin-bottom: $items-gutter-width * -1;
    }

    .dd-media-list-details {
        width: percentage(4 / $grid-columns); // ~ 4 Columns width
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding: $grid-gutter-width;
        border-left: 1px solid #eee;
        background: #fafafa;
    }

    .dd-media-list-items > .row {
        margin-left: (floor($items-gutter-width / 2) * -1) + 0px;
        margin-right: (floor($items-gutter-width / 2) * -1) + 0px;
    }

    .dd-media-col {
        padding-left: (floor($items-gutter-width / 2)) + 0px;
        padding-right: (floor($items-gutter-width / 2)) + 0px;
    }

    .dd-media-list-toolbar {

        .btn-secondary {
            background-color: #eee;
        }

    }

    .dd-media-item {
        position: relative;
        display: block;
        overflow: hidden;
        width: 100%;
        color: $text-muted;
        //transition: all 0.2s;
        padding: 3px;
        box-shadow: 0 0 0 3px #fff inset, 0 0 0 4px rgba(0, 0, 0, 0);
        outline: 0;
        margin-bottom: $items-gutter-width;

        &:before {
            content: '';
            display: block;
            padding-top: 100%;
        }

        &.dd-media-item-removing {
            opacity: 0.5;
        }

        .dd-media-item-preview {
            overflow: hidden;
            position: absolute;
            top: 3px;
            left: 3px;
            right: 3px;
            bottom: 3px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) inset, 0 0 1px rgba(0, 0, 0, 0.5) inset;
            background: #eee;
        }

        .dd-media-item-centered {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform: translate(50%, 50%);

            .dd-media-thumb, .dd-media-icon, .dd-media-upload-progress {
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(-50%, -50%);
            }
        }

        .dd-media-upload-progress {
            width: 100%;
            height: 10px;
            padding: 0 10px;

            span {
                float: left;
                height: 100%;
                width: 0%;
                background: $success;
            }
        }

        .dd-media-item-error {
            position: absolute;
            bottom: 21px;
            left: 0;
            right: 0;
            max-height: 100%;
            text-align: center;
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset;
            overflow: hidden;
            background: #fafafa;
            padding: 5px;
            text-overflow: ellipsis;
            height: 28px;
            white-space: nowrap;
        }

        .dd-media-item-label {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            max-height: 100%;
            text-align: center;
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset;
            overflow: hidden;
            background: #fafafa;
            padding: 5px;
            text-overflow: ellipsis;
            font-size: 70%;
            height: 21px;
            white-space: nowrap;
        }

        img {
            width: 100%;
        }

        &:hover, &:focus {
            box-shadow: 0 0 0 3px #fff inset, 0 0 0 4px rgba(0, 0, 0, 0.1);
        }

        &.active, &.ui-state-hover {
            box-shadow: 0 0 0 3px #fff inset, 0 0 0 4px $primary;
        }

        &.no-thumb {

            .dd-media-item-centered {
                margin-top: -21px;
            }

        }

    }

    .dz-error {

        .dd-media-item {
            box-shadow: 0 0 0 3px #fff inset, 0 0 0 4px $danger;
        }

    }

    .dz-success {

        .dd-media-upload-progress {
            display: none;
        }

    }

    .dd-media-upload {
        position: relative;
        width: 100%;
        height: 300px;
        overflow: hidden;

        &.dz-clickable {
            cursor: pointer;
        }
    }

    .dd-media-upload-info, .dd-media-list-empty-info {
        overflow: visible;
        position: absolute;
        height: 40px;
        width: 300px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        text-align: center;
    }

    .dd-media-list-empty-info {
        display: none;
    }

    .dd-media-list.empty {
        margin-bottom: 0;

        .dd-media-list-empty-info {
            display: block;
        }

    }

    .dd-media-drag-helper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($info, 0.8);
        z-index: 5;
        opacity: 0;
        transition: all 0.2s;

        span {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 20px;
            font-size: 1.2em;
            text-align: center;
            margin: auto 0;
            color: #fff;
        }
    }

    &.dz-drag-hover .dd-media-drag-helper {
        z-index: 20;
        opacity: 1;
    }

    .dd-media-tabs {
        position: relative;
        z-index: 10;
        background: #eee;
        height: 100%;

        .tab-content {
            background: #fff;
            position: absolute;
            top: 40px;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }

        .tab-content, .tab-pane {
            overflow: hidden;
        }

        .tab-pane {
            height: 100%;
        }

        .nav-tabs {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 41px;
            z-index: 1;
            border-bottom: 0;

            li {
                > a {
                    border-top: 0;
                }

                &:first-child {
                    > a {
                        border-left: 0;
                    }
                }
            }

        }
    }

    &.dd-media-overview {

        .dd-media-list-items, .dd-media-list-toolbar, .dd-media-list-breadcrumb {
            width: percentage(9 / $grid-columns); // ~ 9 Columns width
        }

        .dd-media-list-details {
            width: percentage(3 / $grid-columns); // ~ 3 Columns width
        }

    }

}

.modal-header {
    background: #{$primary};

    h4 {
        color: #fff;
    }
}

.modal {
    .btn-close {
        --bs-btn-close-color: #{$white};
        --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414'/%3e%3c/svg%3e");
        --bs-btn-close-opacity: .8;
        --bs-btn-close-hover-opacity: 1;
    }
}

.dd-modal-confirm {
    &.dd-warn {
        .modal-header {
            color: $danger;
        }

        .modal-body {
            color: $danger;
        }

        .modal-footer {
            .btn-primary {
                @include button-variant($primary, $danger, darken($danger, 5%));
            }
        }
    }
}

.dd-dialog {

    .modal-header {
        color: #fff;
        background: $primary;
        border-color: $primary;

        .close {
            color: #ddd;
            opacity: 1;
            text-shadow: none;
            margin-top: 0;

            &:hover {
                opacity: 1;
                color: #fff;
            }
        }
    }

    .dd-media {
        height: auto;
        margin: -1rem;

        .dd-media-list {
            height: 460px;
        }

        .dd-media-tabs {
            height: auto;

            .tab-content {
                max-height: 460px;
                position: relative;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: auto;
            }

            .nav-tabs {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                height: auto;
                z-index: auto;
            }
        }
    }
}
